/*Import Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=Passion+One&display=swap');


/*Style for body/html*/
html,
body {
    overflow-x: hidden;
    /*Do not show if contents are overflow horizontally*/
    scroll-margin: 0;
}

html {
    scroll-padding-top: calc(4.5rem - 1px);
}

/*Background*/
body {
    background-color: #FAF8F8;
    letter-spacing: 0.01em;
    font-family: "Plus Jakarta Sans", "Outfit";
    color: #5c5c5c;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
    /* no underline */
}

.navbar-brand {
    color: #D08585
}

.nav-link {
    padding-left: 20px;
    padding-right: 20px;

}

.active {
    position: relative;
    border-bottom: 3px solid #D08585;
}

.border-bottom:hover {
    background-color: black;
    cursor: pointer;
}


.border-left {
    border-left: 10px solid #D08585;
}


#masthead {
    margin-top: 74px;
}

container-fluid .start-block {
    background-color: #D08585;
    width: 5px;
}

.comic-cover-size {
    width: 18rem;
}

.card {
    border: none;
    /* border-radius: unset; */

}

.comic-img-text:hover {
    color: rgba(91, 90, 90, 0.7);
    cursor: pointer;
}

footer .container-fluid {
    background-color: #D08585;
    color: white;
}

footer {
    margin-top: 10rem;
}