/*Import Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=Passion+One&display=swap');


/*Style for body/html*/
html,
body {
    overflow-x: hidden;
    /*Do not show if contents are overflow horizontally*/
    scroll-margin: 0;
}

html {
    scroll-padding-top: calc(4.5rem - 1px);
}

/*Background*/
body {
    background-color: #FAF8F8;
    letter-spacing: 0.01em;
    font-family: "Plus Jakarta Sans", "Outfit";
    color: #5c5c5c;
    margin: 0;
    padding: 0;
}

.active {
    position: relative;
}

/* .ul li {
    position: relative;
} */

ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #D08585;
    transition: width 0.4s ease-in-out;
}

ul li:hover::after {
    width: 100%;
    transform-origin: right;
}


.navbar-brand {
    color: #D08585
}

#masthead {
    /* background-image: url('../img/cover1.png'); */
    position: relative;
    margin-top: 74px;
    padding-top: 50%;
    background: url('../img/cover1.png') top center/ contain no-repeat;
}

li {
    list-style: none;
}

.start-block {
    background-color: #D08585;
    width: 5px;
}

footer .container-fluid {
    background-color: #D08585;
    color: white;
}

footer {
    margin-top: 10rem;
}